{% extends "main.html.twig" %}

{% block title %}Add user{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>{{ 'admin.header'|trans }}</li>
        <li><a href="{{ path('show_users') }}">{{ 'users.header'|trans }}</a></li>
        <li class="active">{{ 'users.add.header'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h3><i class="fa fa-user"></i> {{ 'users.add.header'|trans }}</h3>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-buttons">
        <button class="btn btn-primary">
            <i class="fa fa-plus"></i> {{ 'users.add.submit'|trans }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}