{% extends "main.html.twig" %}

{% block title %}{{ 'users.delete.header'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>{{ 'admin.header'|trans }}</li>
        <li><a href="{{ path('show_users') }}">{{ 'users.header'|trans }}</a></li>
        <li class="active">{{ 'users.delete.header'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h3><i class="fa fa-trash-o"></i> {{ 'users.delete.header'|trans }}</h3>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-buttons">
        <button class="btn btn-danger">
            <i class="fa fa-trash-o"></i> {{ 'users.delete.submit'|trans }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}