{% extends "main.html.twig" %}

{% block title %}{{ 'users.edit.header'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>{{ 'admin.header'|trans }}</li>
        <li><a href="{{ path('show_users') }}">{{ 'users.header'|trans }}</a></li>
        <li class="active">{{ 'users.edit.header'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h3><i class="fa fa-user"></i> {{ 'users.edit.header'|trans }}</h3>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(formProfile) }}
            {{ form_errors(formProfile) }}
            {{ form_widget(formProfile) }}

            <div class="form-buttons">
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i> {{ 'profile.edit.submit'|trans }}
                </button>
            </div>
            {{ form_end(formProfile) }}
        </div>

        <div class="col-md-6">
            {{ form_start(formPassword) }}
            {{ form_errors(formPassword) }}
            {{ form_widget(formPassword) }}

            <div class="form-buttons">
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i> {{ 'profile.edit.password'|trans }}
                </button>
            </div>
            {{ form_end(formPassword) }}
        </div>
    </div>


{% endblock %}