{% extends 'main.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block pre_content %}
<div class="section-tout">
    <div class="container">
        <div class="pull-left">
            <h3>
                <i class="fa fa-user"></i> Welcome to your dashboard, {{ app.user.username }}.
            </h3>
        </div>
        <div class="pull-right">
            <h3>
                <i class="fa fa-clock-o"></i> {{ totalWorkedTime|timedifference }}
            </h3>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h3>Your Projects</h3>

    {% if projects is empty %}
    <p>
        You are not part of any project.
        <a href="{{ path('add_project') }}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-plus"></i> Create one</a>
    </p>
    {% else %}
    <div class="panel panel-default">
        <div class="list-group">
            {% for project in projects %}
            <a href="{{ path('show_project', { 'slug' : project.slug }) }}" class="list-group-item">
                {{ project.name }}

                <p><i class="fa fa-clock-o"></i> {{ project.workedTimeInMinutes|timedifference }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
