{% extends "main.html.twig" %}

{% block title %}{{ 'project.edit.header'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}">{{ 'dashboard.index'|trans }}</a></li>
        <li><a href="{{ path('show_project', { slug: project.slug }) }}">{{ project.name }}</a></li>
        <li class="active">{{ 'project.edit.header'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h3><i class="fa fa-edit"></i> {{ 'project.edit.header'|trans }}</h3>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-buttons">
        <button class="btn btn-primary">
            <i class="fa fa-save"></i> {{ 'project.edit.submit'|trans }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}