{% extends "main.html.twig" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}">{{ 'dashboard.index'|trans }}</a></li>
        <li class="active">{{ project.name }}</li>
    </ol>
{% endblock %}

{% block pre_content %}
    <div class="section-tout">
        <div class="container">
            <h3><i class="fa fa-clock-o"></i> {{ 'project.index.time_spend'|trans({'%time%': totalWorkedTime|timedifference }) }}</h3>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h3>{{ project.name }}</h3>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="clearfix">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('add_time', { slug: project.slug }) }}"><i class="fa fa-plus"></i> {{ 'project.times.add.header'|trans }}</a></li>
                    <li><a href="{{ path('show_times', { slug: project.slug }) }}"><i class="fa fa-clock-o"></i> {{ 'project.times.show.header'|trans }}</a></li>

    {% if project.owner.id == app.user.id %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cogs"></i> {{ 'project.index.settings'|trans }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ path('edit_project', { slug: project.slug }) }}"><i class="fa fa-edit"></i> {{ 'project.edit.header'|trans }}</a></li>
                            <li><a href="{{ path('delete_project', { slug: project.slug }) }}"><i class="fa fa-trash-o"></i> {{ 'project.delete.header'|trans }}</a></li>
                            <li><a href="{{ path('manage_users', { slug: project.slug }) }}"><i class="fa fa-users"></i> {{ 'project.users.header'|trans }}</a></li>
                        </ul>
                    </li>
    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('show_profile', {username: project.owner.username}) }}" title="{{ 'project.index.owner'|trans }}">
                            <img src="{{ project.owner.email|gravatar }}" class="img-circle" width="20" height="20"/>
                            {{ project.owner.username }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        {% for user in users %}
        <div class="col-md-4">
            <h4><img src="{{ user.email|gravatar }}" class="img-circle" width="30" height="30"/> <a href="{{ path('show_profile', { username: user.username}) }}">{{ user.username }}</a></h4>
            <strong>{{ user.workedTimeInMinutes|timedifference }}</strong>
            <canvas id="chart-{{ user.username }}" height="100"></canvas>

            <script type="text/javascript">
                $(document).ready(function() {
                    var data = [
                        {
                            value: {{ user.workedTimeInMinutes }},
                            color: "#F7464A",
                            highlight: "#FF5A5E",
                            label: "{{ 'project.index.chart.time_worked_by'|trans({'%username%' : user.username }) }}"
                        },
                        {
                            value: ({{ totalWorkedTime }} - {{ user.workedTimeInMinutes }}),
                            color: "#46BFBD",
                            highlight: "#5AD3D1",
                            label: "{{ 'project.index.chart.time_worked_others'|trans }}"
                        }
                    ];

                    new Chart(document.getElementById("chart-{{ user.username }}").getContext("2d")).Doughnut(data, {responsive: true});
                });
            </script>
        </div>
        {% endfor %}
    </div>

    <canvas height="300" id="statistics"></canvas>

    <script type="text/javascript">
        $(document).ready(function() {
            var data = {
                labels: {{ labels|raw }},
                datasets: [
                    {
                        label: "{{ 'project.index.chart.total_time'|trans }}",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: {{ data|raw }}
                    }
                ]
            };

            new Chart(document.getElementById("statistics").getContext("2d")).Line(data, { responsive: true });
        });
    </script>

{% endblock %}