{% extends "main.html.twig" %}

{% block title %}{{ 'project.users.header'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}">{{ 'dashboard.index'|trans }}</a></li>
        <li><a href="{{ path('show_project', { slug: project.slug }) }}">{{ project.name }}</a></li>
        <li class="active">{{ 'project.users.header'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h3><i class="fa fa-users"></i> {{ 'project.users.header'|trans }}</h3>

    <h4>{{ 'project.users.members'|trans }}</h4>

    <ul class="list-group user-list">
    {% for user in members %}
        <li class="list-group-item clearfix">
            <div class="pull-left">
                <p>{{ user.username }}</p>
            </div>

            {% if user.id != project.owner.id %}
            <div class="pull-right">
                <form method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('user.delete') }}" />
                    <input type="hidden" name="_userid" value="{{ user.id }}" />
                    <input type="hidden" name="_action" value="delete" />

                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> {{ 'project.users.delete'|trans }}</button>
                </form>
            </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <h4>{{ 'project.users.others'|trans }}</h4>

    <ul class="list-group user-list">
    {% for user in otherUsers %}
        <li class="list-group-item clearfix">
            <div class="pull-left">
                <p>{{ user.username }}</p>
            </div>

            <div class="pull-right">
                <form method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('user.add') }}" />
                    <input type="hidden" name="_userid" value="{{ user.id }}" />
                    <input type="hidden" name="_action" value="add" />

                    <button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> {{ 'project.users.add'|trans }}</button>
                </form>
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}